div {
    background-color: transparent;
}

img {
    border-radius: 20px;
}

#icon {
    border-radius: 0px;
}

@media (max-width: 768px) {
    img {
        width: 100%;
    }
}

#footer-bottom {
    color: #1a1a1a;
}
